@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
/***************** TAG SELECTORS *****************/

body, html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

button {
    margin: 10px;
    background: #F6F6F6;
    border: 1px transparent solid;
    border-radius: 10px;
    color: rgb(139,141,144);
    font-weight: bold;
    font-size: 1em;
    padding: 5px;
}
button:hover {
    border: 1px solid rgb(139,141,144);
    color: black;
}

button:active {
    border: 1px solid black;    
}

/***************** CLASS SELECTORS *****************/

.productes {
    width: 70%;
    margin-left: 25px;
    margin-right: auto;
    padding: 70px 0;
}

.producte {
    margin: 20px;
    transition: box-shadow 0.25s;
    padding: 50px 0;
    min-height: 300px;
    min-width: 600px;
}

hr {
    border: 0;
    border-bottom: 1px solid;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    width: 70%;
}

.producte * {
    display: block;
    margin: 10px 5px;
    position: relative;
}

.producte p {
    margin: 5px;
    padding: 0.9375rem;
}

.producte img {
    float: left;
    height: 300px;
    margin-right: 15px;
    width: 600px;
}

.concert-titol {
    font-weight: bold;
    font-size: 1.2em;
}

.total-pagament {
    font-size: 1em;
    font-weight: bold;
    margin: 10px;
    text-align: right;
}

/***************** IDENTIFIER SELECTORS *****************/

#botons {
    width: 50%;
    margin: 10px auto;
}