.margenArriba {
    margin-top: 8%;
}

label {
    margin-top: 1.5em;
    font-weight: bold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 7%;
}

.alinearIz {
    margin-right: 6.8%;
}

.centrado {
    transition: box-shadow 0.2s;
    margin-right: 35%;
    margin-top: 3em;
    margin-left: 35%;
    background-color: white;
    height: 18em;
}

.centrado:hover {
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.btnGrande {
    width: 40%;
}

.white {
    color: white;
}

img {
    background: transparent;
}

#foto {
    width: 50%;
}

#conciertoImg {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
    height: 100%;
}